body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.header {
  background-color: #3f485e;
  padding: 1em 2em;
  color: white;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  margin: 0 auto;
}

.logo-container {
  flex: 1;
}

.logo {
  width: 40%;
}

.nav-menu {
  flex: 2;
  text-align: center;
}

.nav-link {
  color: white;
  text-decoration: none;
  margin: 0 1em;
  padding: 0.5em;
  position: relative;
}

.nav-link::before {
  content: "";
  display: block;
  height: 8%;
  background-color: #eb6b2a;
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  transition: width 0.3s ease;
}

.nav-link:hover::before {
  width: 100%;
}

.button-container {
  display: flex;
  flex-direction: row;
  gap: 5%;
}

.vertical-button {
  background-color: #3f485e;
  border-color: white;
  color: white;
  padding: 0.6em 2.3em;
  cursor: pointer;
  font-size: 0.9em;
  border-radius: 250px;
}

.vertical-button:hover {
  background-color: white;
  color: #3f485e;
}
.controls-container {
  display: flex;
  flex-direction: column;
  gap: 5%;
  margin-right: 1%;
}

.language-select {
  background-color: #3f485e;
  color: white;
  border: none;
  cursor: pointer;
}
.main-container {
  width: 100vw;
  height: 100vh;
}
.home-section {
  width: 100%;
  height: 100%;
  margin-bottom: 75%;
}

.home-sec1 {
  border: none;
  background-image: linear-gradient(
      to bottom left,
      rgba(68, 76, 95, 0.61) 0%,
      rgba(68, 76, 95, 0.61) 0%,
      rgba(68, 76, 95, 1) 66.5%
    ),
    url("/images/merwas-image1.png");
  background-size: cover;
  background-size: 100% 160%;
  color: white;
  width: 100%;
  height: 63%;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.h1-1 {
  color: white;
  width: 30%;
  padding-left: 7%;
  line-height: 150%;
  font-family: "Nobel", sans-serif;
}
.span-1 {
  color: #eb6b2a;
  font-family: "Nobel", sans-serif;
}
.home-paragraph {
  padding-top: 4%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #3f485e;
  line-height: 40%;
  font-size: 85%;
  font-weight: bold;
  font-family: "Nobel", sans-serif;
  margin-bottom: 5%;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 5%;
  max-width: 60%;
  margin: 0 auto;
  min-height: 95%;
}

.card {
  width: 90%;
  height: 100%;
  background-color: #f0f0f0;
  border: 1px solid #ddd;
  font-family: "Arial", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 6%;
  box-sizing: border-box;
  color: white;
  border: none;
  border-radius: 5%;
  margin: 0 auto;
}

.card:nth-child(1) {
  background-image: linear-gradient(
      to bottom left,
      rgba(217, 217, 217, 0) 0%,
      rgba(63, 72, 94, 1) 96%
    ),
    url("/images/merwas-card1.png");
  background-size: cover;
}

.card:nth-child(2) {
  background-image: linear-gradient(
      to top left,
      rgba(63, 72, 94, 1) 10%,
      rgba(217, 217, 217, 0) 100%
    ),
    url("/images/merwas-card2.png");
  background-size: cover;
}

.card:nth-child(3) {
  background-image: linear-gradient(
      to bottom left,
      rgba(217, 217, 217, 0) 0%,
      rgba(63, 72, 94, 1) 99%
    ),
    url("/images/merwas-card3.png");
  background-size: cover;
  background-position: center;
}

.card:nth-child(4) {
  background-image: linear-gradient(
      to bottom left,
      rgba(217, 217, 217, 0) 0%,
      rgba(63, 72, 94, 1) 96%
    ),
    url("/images/merwas-card4.png");
  background-size: cover;
  background-position: center;
}

.h4-card1 {
  margin-bottom: 0;
  margin-top: 26%;
}

.par1-card1 {
  font-size: 74%;
  margin-bottom: 18%;
}

.par2-card1 {
  font-size: 0.875rem;
  color: #ffffff;
  cursor: pointer;
  margin-top: 0px;
}

.par2-card1:hover {
  text-decoration: underline;
}
.parent-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.home-last-sec {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
  background-color: #3f485e;
  border: none;
  border-radius: 40px;
  width: 67%;
  height: 55%;
  box-sizing: border-box;
  font-family: "Nobel", sans-serif;
}

.img-home-1 {
  width: 37%;
  border: none;
  border-radius: 7%;
}

.par-home-1 {
  width: 35%;
  color: white;
}

.span-2 {
  color: #eb6b2a;
}

.about-section {
  display: flex;
  align-items: flex-start;
  padding: 8%;
}

.about-content {
  flex: 1;
}
.about-sec1 {
  color: #3f485e;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.h1-about,
.p1-about {
  margin: 0;
  color: #3f485e;
}

.p1-about {
  font-size: 80%;
  width: 30%;
  padding: 1%;
}

.h4-about-1 {
  color: #3f485e;
  font-size: 140%;
  display: flex;
  flex-direction: column;
  margin: 0%;
}
.about-span {
  font-size: 150%;
  color: #eb6b2a;
}
.img-cards-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.img-about-1 {
  width: 30%;
  height: 100%;
  border: none;
  border-radius: 4%;
}

.about-cards {
  width: 70%;
  height: 30%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0%;
}

.about-card {
  border: none;
  border-radius: 2%;
  height: 90%;
  justify-content: space-between;
}

.p1-card-about {
  color: #3f485e;
  font-size: 80%;
  width: 60%;
  font-family: "Nobel", sans-serif;
}
.h5-1-card-about {
  color: #3f485e;
  font-size: 90%;
  width: 60%;
  margin-bottom: 1%;
  font-family: "Nobel", sans-serif;
}
.service-section {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.services-sec2 {
  background-color: #3f485e;
  padding: 2%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  height: 50%;
  width: 90%;
  border: none;
  border-bottom-left-radius: 60px;
  border-top-left-radius: 0%;
  margin-left: 5%;
}

.main-par-service {
  max-width: 50%;
}

.img-services {
  position: relative;
  width: 40%;
  min-width: 15%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 0%;
}

.service-img {
  object-fit: cover;
  width: 30%;
  height: 25vh;
  border-radius: 7%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: absolute;
  transition: transform 0.3s ease;
}

.service-img:nth-child(1) {
  bottom: 4%;
  right: 45%;
  z-index: 6;
  transform: scale(1);
}

.service-img:nth-child(2) {
  bottom: 4%;
  left: 60%;
  z-index: 3;
  transform: scale(1);
}

.service-img:nth-child(3) {
  right: 33%;
  z-index: 3;
  transform: scale(1.09);
}

.h3-service {
  color: #eb6b2a;
  margin-bottom: 5%;
}

.p-service {
  color: white;
  font-size: 80%;
  font-family: "Nobel", sans-serif;
  line-height: 160%;
}
.services-sec1 {
  color: #3f485e;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.h1-services,
.p1-services {
  margin: 0;
  color: #3f485e;
}

.p1-services {
  font-size: 80%;
  width: 30%;
  padding: 1%;
}

.service-section3 {
  margin-top: 0%;
  margin-bottom: 0%;
  height: 50vh;
  width: 100%;
  display: flex;
}
.main-par-service3 {
  max-width: 50%;
}
.services-sec3 {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  height: 50%;
  width: 90%;
}

.h3-service3 {
  color: #3f485e;
  margin-bottom: 5%;
  margin-left: 15%;
}

.p-service3 {
  color: #3f485e;
  font-size: 90%;
  font-family: "Nobel", sans-serif;
  line-height: 160%;
  width: 100%;
  margin-left: 15%;
}
.services-sec4 {
  background-color: #3f485e;
  padding: 2%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  height: 50%;
  width: 90%;
  border: none;
  border-bottom-right-radius: 0%;
  border-top-right-radius: 60px;
  margin-left: -1%;
}
.partners-section {
  background: linear-gradient(to bottom, #3f485e 0%, #49536b 50%, #535e78 100%);
  padding-top: 2%;
  padding-bottom: 10%;
  text-align: center;
}

.h1-partners {
  color: #eb6b2a;
}

.p1-partners {
  color: white;
  margin-bottom: 2em;
  font-family: "Nobel", sans-serif;
}

.partners-cards {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding-top: 5%;
}

.partner-card {
  background-color: #ffffff;
  border-radius: 8%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 25%;
  max-width: 50%;
  padding: 1em;
  text-align: center;
}

.card-image {
  width: 50%;
  border-radius: 3%;
}

.card-text {
  font-size: 110%;
  color: #3f485e;
}

.card-rectangle {
  width: 60%;
  height: 6%;
  background-color: #eb6b2a;
  opacity: 60%;
  margin: 0 auto;
  border-radius: 5%;
}

.contact-section {
  padding: 10%;
  background-color: #f9f9f9;
}

.contact-sec1 {
  color: #3f485e;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.h1-contact,
.h2-contact {
  color: #3f485e;
}
.p1-contact {
  color: #3f485e;
}
.info-form-container {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.contact-info {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  color: #3f485e;
}
.contact-card-text {
  color: #77838f;
  font-size: 80%;
}

.contact-card {
  border-radius: 5px;
  width: 60%;
  height: 40%;
}

.contact-info > :nth-child(1),
.contact-info > :nth-child(2),
.contact-info > :nth-child(5) {
  grid-column: 1;
}

.contact-info > :nth-child(3),
.contact-info > :nth-child(5) {
  grid-column: 2;
}

.contact-card-text {
  margin-top: 0.5em;
  color: #3f485e;
}
.info-form-container {
  margin-bottom: 3%;
}
.contact-form {
  flex: 1;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.h3-form {
  color: #3f485e;
}

.contact-form form {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.contact-form label {
  margin-bottom: 0.5em;
  color: #3f485e;
}

.contact-form input,
.contact-form textarea {
  margin-bottom: 1em;
  padding: 0.5em;
  border: 1px solid #ddd;
}
.contact-form textarea {
  height: 30%;
  border-radius: 40px;
}
.contact-form input {
  border-radius: 250px;
}

.contact-form button {
  background-color: #3f485e;
  color: white;
  border: none;
  width: 40%;
  border-radius: 250px;
  cursor: pointer;
  padding: 1em 0;
}

.contact-form button:hover {
  background-color: #49536b;
}

.footer {
  background-color: #3f485e;
  color: white;
  padding: 2em 0;
  text-align: center;
  height: 60%;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  padding: 0 2em;
}

.footer-section {
  flex: 1;
  padding: 1em;
}

.footer-section p {
  padding-bottom: 1%;
}
.footer-section {
  padding-bottom: 10%;
}

.footer-section input {
  width: 30%;
  height: 20%;
  border-bottom: 1px solid #ffffff;
  border-radius: 200px;
}

.footer-bottom {
  display: flex;
  justify-content: flex-start;
  padding-left: 2em;
}
